
body{
  margin: 0px;
  background-color: #01050e;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
h2{
  cursor: default;
  user-select: none;
}
.border {
  border: 10px dashed rgba(208, 255, 0, 0.37);
  border-radius: 20px;
 
}
